<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Techblog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.techblog.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.techblog.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.techblog.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.techblog.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.techblog.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_page</servlet-name>
    <jsp-file>/login_page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_page</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register_page</servlet-name>
    <jsp-file>/register_page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_page</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <jsp-file>/profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikePostServlet</display-name>
    <servlet-name>LikePostServlet</servlet-name>
    <servlet-class>com.techblog.servlet.LikePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePostServlet</servlet-name>
    <url-pattern>/LikePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.techblog.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServletLogin</display-name>
    <servlet-name>ContactServletLogin</servlet-name>
    <servlet-class>com.techblog.servlet.ContactServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServletLogin</servlet-name>
    <url-pattern>/ContactServletLogin</url-pattern>
  </servlet-mapping>
</web-app>